# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env
*.venv
Pipfile
Pipfile.lock

# Django stuff
db.sqlite3
*.sqlite3
/media/
/staticfiles/
static/
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Migrations (optional, keep if tracking migrations)
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/__pycache__/

# Secret files
.env
.env.example
config/settings_local.py

# VS Code settings
.vscode/

# JetBrains (PyCharm, IntelliJ)
.idea/
*.iml

# macOS
.DS_Store

# Linux files
*.swp
*.swo

# Windows files
Thumbs.db
